<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Home</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

	<div class="text-center text-light">
		<h1>Smart Contact Manager</h1>
		
		<p style="padding:20px">A contact manager is a software program that enables users to easily store and find contact information, such as names, addresses, and telephone numbers. They are contact-centric databases that provide a fully integrated approach to tracking all information and communication activities linked to contacts.</p>
		
		<button type="button" class="btn bg-primary">Get Start</button>
	</div>
	

</section>

</body>
</html>